#div_jogo {
    width: 40vw;
    height: 75vh;
    background-image: url(assets/image.png);
    display: grid;
    grid-template-columns: repeat(10,4vw);
    grid-template-rows: repeat(10,3.72vw);
    background-size: cover;
    background-repeat: no-repeat;
}

.espaco {
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: monospace;
}
.espaco:hover {
    background-color: rgba(255, 255, 255, 0.148);
    cursor: pointer;
}