@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

.container {
  background: url("../imgs/fundo.png");
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container button{
  font-family: 'Press Start 2P', cursive;
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 2px;
  outline: none;
  background-color: #33a76d;
  border-radius: 9.5px;
  padding: 12px;
  color: rgb(105, 105, 105);
  border: 2px solid #287750;
  box-shadow: 0 0 5px #287750;
}

.container button:hover {
  font-family: 'Press Start 2P', cursive;
  outline: none;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 14px;
  background-color: #00ff00;
}

.entrar input{
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  background-color: #33a76d;
  border: 2px solid #287750;
  padding: 10px 15px;
  outline: none;
  box-shadow: 0 0 5px #287750;
  width: 300px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 9.5px;
}

.entrar{
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 2px;
}

.entrar button {
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 2px;
  outline: none;
  background-color: #33a76d;
  border-radius: 9.5px;
  padding: 12px;
  color: rgb(105, 105, 105);
  border: 2px solid #287750;
  box-shadow: 0 0 5px #287750;
}

.entrar button:hover {
  font-family: 'Press Start 2P', cursive;
  outline: none;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 14px;
  background-color: #00ff00;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: darkred;
  -webkit-text-stroke: 2px #dbdbdb;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  color: darkred;
  -webkit-text-stroke: 1px #dbdbdb;
}

.mensagem {
  -webkit-text-stroke: 0.3px #dbdbdb;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  color: darkred;
  margin-top: 20px;
}

select {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  background-color: #33a76d;
  border: 2px solid #287750;
  padding: 10px 15px;
  outline: none;
  box-shadow: 0 0 5px #287750;
  width: 300px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(102, 102, 102);
  border-radius: 9.5px;
}