@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  padding: 0;
  margin: 0;
}

.container {
  background: url("../imgs/fundo.png");
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container .container-filho {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.container .container-filho h1 {
  font-family: 'Press Start 2P', cursive;
  color: darkred;
  -webkit-text-stroke: 2px #dbdbdb;
}

.container .container-filho input {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  background-color: #33a76d;
  border: 2px solid #287750;
  padding: 10px 15px;
  outline: none;
  box-shadow: 0 0 5px #287750;
  width: 300px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 9.5px;
}

.container button {
  font-family: 'Press Start 2P', cursive;
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 2px;
  outline: none;
  background-color: #33a76d;
  border-radius: 9.5px;
  padding: 12px;
  color: rgb(105, 105, 105);
  border: 2px solid #287750;
  box-shadow: 0 0 5px #287750;

}

.container button:hover {
  font-family: 'Press Start 2P', cursive;
  outline: none;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 14px;
  background-color: #00ff00;
}
